.header{
	background-color: aqua;
	height: 120px;
	float: left;
	width: 100%;

}
.col-gb {
	width:120px;
	height: 80%;
	margin-top: 2%;
	margin-left: 3%;
	overflow: hidden;
	float: left;

}
.col-txt{
	width: 80%;
	float: left;
	text-align: center;
}
.content{
	background-color: #F2EFEF;
	float: left;
	width: 100%;
	height: 300px;
}
.data{
	background-color:white;
	width: 20%;
	float: left;
	height: 150px;
	margin: 50px 50px;
}
.data img{
	width: 100%;
}